<div class="alert alert-danger" *ngIf="error" role="alert" style="text-align: center; margin-top: 20px;">
  OCURRIÓ UN ERROR DE COMUNICACIÓN CON EL SERVIDOR, INTÉNTALO MÁS TARDE O COMUNÍCATE CON T.I.
</div>
<div class="area-txt">
  <br>
  <h1>Compras</h1>
  <button mat-mini-fab
          class="helpbutton"
          color="primary"
          matTooltip="En este apartado podrá visualizar las compras pendientes o completadas y acceder a
                      cada una de ellas para obtener una mejor vista">
    <mat-icon>help</mat-icon>
  </button>
  <br><br>
</div>

<br>

<mat-form-field appearance="standard" class="area-txt">
  <mat-label>Buscar </mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ejemplo compra 1" #input>
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="id_compra">
    <th mat-header-cell *matHeaderCellDef> N° Compra </th>
    <td mat-cell *matCellDef="let compra"> {{compra.id_compra}} </td>
  </ng-container>

  <ng-container matColumnDef="solicitud">
    <th mat-header-cell *matHeaderCellDef> N° Solicitud </th>
    <td mat-cell *matCellDef="let compra"> <a [routerLink]="['/layout/solicitudes/detalle_solicitud', compra.solicitud.id_solicitud]">
                                              {{compra.solicitud.id_solicitud}}
                                            </a>
    </td>
  </ng-container>

  <ng-container matColumnDef="fecha_compra">
    <th mat-header-cell *matHeaderCellDef> Fecha de la compra</th>
    <td mat-cell *matCellDef="let compra"> {{compra.fecha_creacion | date: 'dd/MM/yyyy'}} </td>
  </ng-container>

  <ng-container matColumnDef="gasto_total">
    <th mat-header-cell *matHeaderCellDef> Gasto total</th>
    <td mat-cell *matCellDef="let compra"> {{compra.gasto_total}} </td>
  </ng-container>

  <ng-container matColumnDef="estatus">
    <th mat-header-cell *matHeaderCellDef> Estatus de la compra </th>
    <td mat-cell *matCellDef="let compra"> {{compra.estatus}} </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let compra">
      <div class="btns">
        <button class="btn1" mat-icon-button [routerLink]="['detalle_compra', compra.id_compra]" matTooltip="Ver compra">
          <mat-icon>remove_red_eye</mat-icon>
        </button>
      </div>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">Su busqueda "{{input.value}}" no ha podido completarse</td>
  </tr>
</table>
