form {
  position: relative;
  width  : 500px;
  height : 550px;
  margin : 0 auto;
  //border: 2px solid #ccc;
  //text-align: center;
}

.full-width {
  width: 100%;
}

.btns
{
  text-align: center;
}

mat-form-field{
  width: 150px;
  margin-right: 20px;
}

/*textarea{
  text-transform: uppercase;
}*/
