<div class="area-txt">
  <h1>Inventario</h1>
  <div *ngIf="inventario">

    <mat-form-field appearance="fill" class="largeInput">
      <mat-label>Fecha de la ultima actualizacion</mat-label>
      <input matInput [(ngModel)]="inventario.fecha_ultima_actualizacion" type="date" name="fecha_act" readonly>
    </mat-form-field>
    <br>

    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon style="color: green">list_alt</mat-icon>
          Inventario
        </ng-template>
        <br>
        <h1>Tabla de productos</h1>
        <div class="area-tabla-p">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="id_producto">
              <th mat-header-cell *matHeaderCellDef> Id_producto </th>
              <td mat-cell *matCellDef="let detalle_inventario"> {{detalle_inventario.producto.id_producto}} </td>
            </ng-container>

            <ng-container matColumnDef="unidad">
              <th mat-header-cell *matHeaderCellDef> Unidad </th>
              <td mat-cell *matCellDef="let detalle_inventario"> {{detalle_inventario.producto.unidad.descripcion}} </td>
            </ng-container>

            <ng-container matColumnDef="descripcion">
              <th mat-header-cell *matHeaderCellDef> Producto </th>
              <td mat-cell *matCellDef="let detalle_inventario"> {{detalle_inventario.producto.descripcion}} </td>
            </ng-container>

            <ng-container matColumnDef="cant_existente">
              <th mat-header-cell *matHeaderCellDef> Cantidad existente </th>
              <td mat-cell *matCellDef="let detalle_inventario"> {{detalle_inventario.cant_existente}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          </table>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon" style="color: red">warning</mat-icon>
          Productos con stock bajo
        </ng-template>
        <h2 class="area-txt">Productos con Stock bajo</h2>
        <div class="area-tabla-p">
          <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8" class="fondorojo">
            <ng-container matColumnDef="id_producto">
              <th mat-header-cell *matHeaderCellDef> Id_producto </th>
              <td mat-cell *matCellDef="let detalle_inventario"> {{detalle_inventario.producto.id_producto}} </td>
            </ng-container>

            <ng-container matColumnDef="unidad">
              <th mat-header-cell *matHeaderCellDef> Unidad </th>
              <td mat-cell *matCellDef="let detalle_inventario"> {{detalle_inventario.producto.unidad.descripcion}} </td>
            </ng-container>

            <ng-container matColumnDef="descripcion">
              <th mat-header-cell *matHeaderCellDef> Producto </th>
              <td mat-cell *matCellDef="let detalle_inventario"> {{detalle_inventario.producto.descripcion}} </td>
            </ng-container>

            <ng-container matColumnDef="cant_existente">
              <th mat-header-cell *matHeaderCellDef> Cantidad existente </th>
              <td mat-cell *matCellDef="let detalle_inventario"> {{detalle_inventario.cant_existente}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          </table>
        </div>

        <div class="botones">
          <button mat-raised-button color="warn" [routerLink]="['/layout/solicitudes/solicitud-form']">
            <mat-icon>add_box</mat-icon> Nueva solicitud
          </button>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
