<div class="formato1">
  <div class="formato2">
    <h1>
      <mat-icon>assignment</mat-icon> Solicitud {{solicitud.id_solicitud}}
    </h1>
    <h2>Solicitud {{solicitud.estatus}}
      <mat-icon style="color: green" *ngIf="solicitud.estatus==='Aceptada'">check_circle</mat-icon>
      <mat-icon style="color: red" *ngIf="solicitud.estatus==='Rechazada'">cancel</mat-icon>
      <mat-icon style="color: yellow" *ngIf="solicitud.estatus==='Pendiente'">timer</mat-icon>
    </h2>
  </div>

  <div>
    <mat-form-field appearance="outline">
      <mat-label>Sucursal: </mat-label>
      <input matInput [(ngModel)]="solicitud.nombre_sucursal" name="sucursal" readonly>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Fecha de la solicitud: </mat-label>
      <input matInput [(ngModel)]="solicitud.fecha_solicitud" name="fecha_solicitud" readonly type="date">
    </mat-form-field>

    <mat-form-field appearance="outline" *ngIf="solicitud.estatus==='Rechazada' || solicitud.estatus==='Aceptada'">
      <mat-label>Fecha de revision: </mat-label>
      <input matInput [(ngModel)]="solicitud.fecha_rechazo" name="fecha_solicitud" readonly type="date" *ngIf="solicitud.estatus==='Rechazada'">
      <input matInput [(ngModel)]="solicitud.fecha_aprobacion" name="fecha_solicitud" readonly type="date" *ngIf="solicitud.estatus==='Aceptada'">
    </mat-form-field>

    <mat-form-field appearance="outline" class="largeInput">
      <mat-label>Nombre del solicitante: </mat-label>
      <input matInput [(ngModel)]="solicitud.nombre_usuario" name="solicitante" readonly>
    </mat-form-field>

    <mat-form-field appearance="outline" class="largeInput" *ngIf="solicitud.estatus==='Rechazada' || solicitud.estatus==='Aceptada'">
      <mat-label>Nombre del revisor de la solicitud: </mat-label>
      <input matInput [(ngModel)]="solicitud.usuario_aprob" name="solicitante" readonly>
    </mat-form-field>

    <mat-form-field appearance="outline" class="largeInput">
      <mat-label>Comentarios del solicitante: </mat-label>
      <textarea matInput [(ngModel)]="solicitud.observacion_solicitud" name="observacion_solicitud" readonly></textarea>
    </mat-form-field>
    <br>
    <button mat-mini-fab
            class="botonAyuda"
            color="primary"
            matTooltip="Para autorizar la solicitud tome en cuenta que la sucursal dónde fue emitida esta solicitud,
                        sólo tiene permitido tener un máximo de {{maxStock}} productos en Stock y debe de tener un
                        mínimo de {{minStock}} productos en Stock">
      <mat-icon>help</mat-icon>
    </button>
    <h2>Solicita:</h2>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="tipo_unidad">
      <th mat-header-cell *matHeaderCellDef> Unidad </th>
      <td mat-cell *matCellDef="let detalle_solicitud"> {{detalle_solicitud.producto.unidad.descripcion}} </td>
    </ng-container>

    <ng-container matColumnDef="descripcion_producto">
      <th mat-header-cell *matHeaderCellDef> Producto </th>
      <td mat-cell *matCellDef="let detalle_solicitud"> {{detalle_solicitud.producto.descripcion}} </td>
    </ng-container>

    <ng-container matColumnDef="cant_existente">
      <th mat-header-cell *matHeaderCellDef> Cantidad existente </th>
      <td mat-cell *matCellDef="let detalle_solicitud"> {{detalle_solicitud.cant_existente}} </td>
    </ng-container>

    <ng-container matColumnDef="cant_solicitada">
      <th mat-header-cell *matHeaderCellDef> Cantidad solicitada </th>
      <td mat-cell *matCellDef="let detalle_solicitud"> {{detalle_solicitud.cant_solicitada}} </td>
    </ng-container>

    <ng-container matColumnDef="cant_autorizada">
      <th mat-header-cell *matHeaderCellDef> Cantidad autorizada </th>
      <td mat-cell *matCellDef="let detalle_solicitud">
        <mat-form-field appearance="fill" floatLabel="always">
          <mat-label>Cantidad autorizada</mat-label>
          <input matInput name="cant_autorizada" type="number" placeholder=" " [(ngModel)]="detalle_solicitud.cant_autorizada" readonly={{flag}} min="1" max="{{maxStock}}" required>
          <mat-error *ngIf="cant_autorizada.invalid">{{getErrorMessage2()}}</mat-error>
        </mat-form-field>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <br>

  <div *ngIf="solicitud.pfdc===true">
    <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">
      <ng-container matColumnDef="tipo_unidad">
        <th mat-header-cell *matHeaderCellDef> Unidad </th>
        <td mat-cell *matCellDef="let detalle_solicitud"> -- </td>
      </ng-container>

      <ng-container matColumnDef="descripcion_producto">
        <th mat-header-cell *matHeaderCellDef> Productos </th>
        <td mat-cell *matCellDef="let detalle_solicitud_PFDC"> {{detalle_solicitud_PFDC.nombreProducto}} </td>
      </ng-container>

      <ng-container matColumnDef="cant_existente">
        <th mat-header-cell *matHeaderCellDef> Cantidad existente </th>
        <td mat-cell *matCellDef="let detalle_solicitud_PFDC"> {{detalle_solicitud_PFDC.cant_existente}} </td>
      </ng-container>

      <ng-container matColumnDef="cant_solicitada">
        <th mat-header-cell *matHeaderCellDef> Cantidad solicitada </th>
        <td mat-cell *matCellDef="let detalle_solicitud_PFDC"> {{detalle_solicitud_PFDC.cant_solicitada}} </td>
      </ng-container>

      <ng-container matColumnDef="cant_autorizada">
        <th mat-header-cell *matHeaderCellDef> Cantidad autorizada </th>
        <td mat-cell *matCellDef="let detalle_solicitud_PFDC">
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label>Cantidad autorizada</mat-label>
            <input matInput name="cant_autorizada2" type="number" placeholder=" " [(ngModel)]="detalle_solicitud_PFDC.cant_autorizada" readonly={{flag}} min="1" max="{{maxStock}}" required>
            <mat-error *ngIf="cant_autorizada2.invalid">{{getErrorMessage2()}}</mat-error>
          </mat-form-field>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <br><br>

  <h2 *ngIf="solicitud.estatus==='Pendiente'">Deje sus comentarios al solicitante:</h2>

  <div>
    <mat-form-field appearance="outline" class="fullW">
      <mat-label>Observaciones</mat-label>
      <textarea matInput [(ngModel)]="solicitud.observacion_aprobacion_rechazo" name="observacion_aprobacion_rechazo" readonly={{flag}} required></textarea>
      <mat-error *ngIf="observacion_aprobacion_rechazo.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <br>
    <div class="botones">
      <button mat-raised-button *ngIf="solicitud.estatus==='Pendiente'" color="primary" (click)="guardarSolicitud()"> Aceptar Solicitud <mat-icon>check_circle</mat-icon></button>
      <button mat-raised-button *ngIf="solicitud.estatus==='Pendiente'" color="warn" (click)="rechazarSolicitud()"> Rechazar Solicitud <mat-icon>cancel</mat-icon></button>
    </div>
  </div>
</div>
