h1
{
  font-weight: bold;
}

.formato1
{
  position: relative;
  width  : 1000px;
  height : 600px;
  margin-left: 40px;
  //border: 2px solid #ccc;
  //display: inline;
  //text-align: center;
}

.mat-form-field
{
  padding-left: 10px;
  padding-right: 10px;
}

button
{
  margin-right: 50px;
}

.formato2
{
  text-align: center;
}

table {
  width: 100%;
  margin: auto;
}
