form {
  position: relative;
  width: 500px;
  height: 550px;
  margin: 0 auto;
  //border: 2px solid #ccc;
  //text-align: center;
}

.full-width {
  width: 100%;
}

.btns {
  text-align: center;
}

.validationError {
  padding-left: 10px;
  display: inline;
  color: #D63301;
  background-position: 10px center;
  font-size: 10px;
}

.validationAp {
  padding-left: 10px;
  display: inline;
  color: green;
  background-position: 10px center;
  font-size: 10px;
}
