.formato1{
  margin-left: 20px;
}

.espaciado{
  margin-right: 20px;
}

h2{
  text-align: center;
}

table{
  width: 100%;
}

button{
  margin-right: 20px;
}

.fondorojo
{
  background: #EC7063;
}

.spinner{
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
}

.overlay{
  height: 100vh;
  width: 100%;
  //background-color: rgba(0,0,0 0.158);
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
}

h1{
  display: inline;
}

.helpbutton{
  margin-left: 10px;
}
