h1
{
  font-weight: bold;
}

.formato1
{
  position: relative;
  width  : 1000px;
  height : 600px;
  margin-left: 40px;
  //border: 2px solid #ccc;
  //display: inline;
  //text-align: center;
}

.formato2
{
  text-align: center;
}

.largeInput
{
  width: 500px;
}

textarea{
  height: 100px;
}

mat-form-field.mat-form-field {
  font-size: 16px;
}

table {
  width: 100%;
  margin: auto;
}
