<div class="formato1">
  <div class="formato2">
    <h1>
      <mat-icon>assignment</mat-icon> Solicitud {{solicitud.id_solicitud}}
    </h1>

    <h2>Solicitud {{solicitud.estatus}}
      <mat-icon style="color: green" *ngIf="solicitud.estatus==='Aceptada'">check_circle</mat-icon>
      <mat-icon style="color: red" *ngIf="solicitud.estatus==='Rechazada'">cancel</mat-icon>
      <mat-icon style="color: yellow" *ngIf="solicitud.estatus==='Pendiente'">timer</mat-icon>
      <mat-icon style="color: red" *ngIf="solicitud.estatus==='Cancelada'">report_off</mat-icon>
    </h2>
  </div>

  <div>
    <mat-form-field appearance="outline">
      <mat-label>Fecha de la solicitud: </mat-label>
      <input matInput [(ngModel)]="solicitud.fecha_solicitud" name="fecha_solicitud" readonly type="date">
    </mat-form-field>

    <mat-form-field appearance="outline" *ngIf="solicitud.estatus==='Rechazada' || solicitud.estatus==='Aceptada'">
      <mat-label>Fecha de la revision: </mat-label>
      <input matInput [(ngModel)]="solicitud.fecha_rechazo" name="fecha_rev" readonly type="date" *ngIf="solicitud.estatus==='Rechazada'">
      <input matInput [(ngModel)]="solicitud.fecha_aprobacion" name="fecha_rev" readonly type="date" *ngIf="solicitud.estatus==='Aceptada'">
    </mat-form-field>

    <mat-form-field appearance="outline" *ngIf="solicitud.estatus==='Cancelada'">
      <mat-label>Fecha de la cancelacion: </mat-label>
      <input matInput [(ngModel)]="solicitud.fecha_cancelacion" name="fecha_cance" readonly type="date">
    </mat-form-field>

    <br>
    <mat-form-field appearance="outline" class="largeInput">
      <mat-label>Comentarios del solicitante: </mat-label>
      <textarea matInput [(ngModel)]="solicitud.observacion_solicitud" name="observacion_solicitud" readonly></textarea>
    </mat-form-field>

  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="tipo_unidad">
      <th mat-header-cell *matHeaderCellDef> Unidad </th>
      <td mat-cell *matCellDef="let detalle_solicitud"> {{detalle_solicitud.producto.unidad.descripcion}} </td>
    </ng-container>

    <ng-container matColumnDef="descripcion_producto">
      <th mat-header-cell *matHeaderCellDef> Productos </th>
      <td mat-cell *matCellDef="let detalle_solicitud"> {{detalle_solicitud.producto.descripcion}} </td>
    </ng-container>

    <ng-container matColumnDef="cant_existente">
      <th mat-header-cell *matHeaderCellDef> Cantidad existente </th>
      <td mat-cell *matCellDef="let detalle_solicitud"> {{detalle_solicitud.cant_existente}} </td>
    </ng-container>

    <ng-container matColumnDef="cant_solicitada">
      <th mat-header-cell *matHeaderCellDef> Cantidad solicitada </th>
      <td mat-cell *matCellDef="let detalle_solicitud"> {{detalle_solicitud.cant_solicitada}} </td>
    </ng-container>

    <ng-container matColumnDef="cant_autorizada">
      <th mat-header-cell *matHeaderCellDef> Cantidad autorizada </th>
      <td mat-cell *matCellDef="let detalle_solicitud"> {{detalle_solicitud.cant_autorizada}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <br>

  <div *ngIf="solicitud.pfdc===true">
    <p>productos fuera del catálogo</p>
    <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">
      <ng-container matColumnDef="tipo_unidad">
        <th mat-header-cell *matHeaderCellDef> Unidad </th>
        <td mat-cell *matCellDef="let detalle_solicitud"> -- </td>
      </ng-container>

      <ng-container matColumnDef="descripcion_producto">
        <th mat-header-cell *matHeaderCellDef> Productos </th>
        <td mat-cell *matCellDef="let detalle_solicitud_PFDC"> {{detalle_solicitud_PFDC.nombreProducto}} </td>
      </ng-container>

      <ng-container matColumnDef="cant_existente">
        <th mat-header-cell *matHeaderCellDef> Cantidad existente </th>
        <td mat-cell *matCellDef="let detalle_solicitud_PFDC"> {{detalle_solicitud_PFDC.cant_existente}} </td>
      </ng-container>

      <ng-container matColumnDef="cant_solicitada">
        <th mat-header-cell *matHeaderCellDef> Cantidad solicitada </th>
        <td mat-cell *matCellDef="let detalle_solicitud_PFDC"> {{detalle_solicitud_PFDC.cant_solicitada}} </td>
      </ng-container>

      <ng-container matColumnDef="cant_autorizada">
        <th mat-header-cell *matHeaderCellDef> Cantidad autorizada </th>
        <td mat-cell *matCellDef="let detalle_solicitud_PFDC"> {{detalle_solicitud_PFDC.cant_autorizada}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <br>

  <mat-form-field appearance="outline" class="largeInput">
    <mat-label>Comentarios de adquisiciones: </mat-label>
    <textarea matInput [(ngModel)]="solicitud.observacion_aprobacion_rechazo" name="observacion_aprobacion_rechazo" readonly></textarea>
  </mat-form-field>

  <div *ngIf="solicitud.estatus==='Pendiente'">
    <button mat-raised-button color="warn" (click)="cancelarSolicitud()"> Cancelar Solicitud <mat-icon>report_off</mat-icon></button>
  </div>
  <button mat-raised-button color="primary" name="compra" *ngIf="solicitud.estatus==='Aceptada'" routerLink="/layout/compras">
    Ver/Registrar Compra
  </button>

</div>
