.formato{
  margin-left: 20px;
}

form {
  position: relative;
  //border: 2px solid #ccc;
  margin-left: 20px;
  width  : 1000px;
  //text-align: center;
}

.full-width {
  width: 55%;
}

.inputW
{
  width: 400px;
}

textarea{
  height: 100px;
}

.buscador{
  //margin-left: 75%;
}

.areaProductosSeleccionados{
  width  : 940px;
  background: #d0ceeb;
}

.mat-form-field
{
  //padding-left: 10px;
  padding-right: 10px;
}

.area-tabla-p
{
  width: 1000px;
  height: 500px;
  margin-top: 50px;
  margin-left: 20px;
}

table {
  width: 100%;
  margin: auto;
  text-transform: uppercase;  
}

button
{
  margin-right: 50px;
  text-transform: uppercase;
}

.btn1{
  margin-left: 15px;
}

input{
  text-transform: uppercase;
}

label, p, mat-label{
  text-transform: uppercase;
}
