form {
  position: relative;
  //border: 2px solid #ccc;
  margin-left: 20px;
  width  : 1000px;
  //text-align: center;
}

.full-width {
  width: 55%;
}

/*input:disabled {
  background: #51d1f6;
}*/

.areaProductosSeleccionados{
  width  : 760px;
  background: #d0ceeb;
}

.mat-form-field
{
  padding-left: 10px;
  padding-right: 10px;
}

.area-tabla-p
{
  margin-top: 50px;
  margin-left: 20px;
}

table {
  width: 100%;
  margin: auto;
}

button
{
  margin-right: 50px;
}
