<h1>Nueva Solicitud</h1>

<form [formGroup]="solicitudForm">
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="nombre_usuario" name="nombre_usuario" readonly>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Sucursal</mat-label>
    <input matInput formControlName="id_sucursal" name="id_sucursal" readonly>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Fecha</mat-label>
    <input matInput [min]="date" [max]="date" [matDatepicker]="picker1" formControlName="fecha_solicitud" readonly>
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1 disabled></mat-datepicker>
  </mat-form-field>


  <h3>En la tabla de productos podrá elegir los productos que desee solicitar</h3>

  <div FormArrayName="detalles">
    <button class="btn1"
            mat-raised-button
            color="warn"
            *ngIf="productosSeleccionados.size>=1"
            (click)="eliminarTodo()"
            matTooltip="Quitar todos los productos seleccionados">
      <mat-icon>delete</mat-icon>
      Borrar todo
    </button>
    <button mat-mini-fab
            color="primary"
            matTooltip="Esta sucursal sólo tiene permitido relizar una solicitud de un máximo de {{maxExistencia}} productos y
                        debe de tener un minimo de {{minExistencia}} productos en existencia">
      <mat-icon>help</mat-icon>
    </button>


    <br><br>
    <div *ngFor="let detalle of detalles.controls; let i = index;" class="areaProductosSeleccionados">
      <div [formGroup]="detalle">
        <mat-form-field appearance="outline" class="inputW">
          <mat-label>Producto</mat-label>
          <input matInput formControlName="producto_" readonly>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Cantidad existente</mat-label>
          <input matInput type="number" formControlName="cant_existente" required>
          <mat-error  *ngIf="this.detalle.get('cant_existente')?.errors?.['max']">
            La cantidad ingresada no se considera válida para realizar una solicitud
          </mat-error>
          <mat-error  *ngIf="this.detalle.get('cant_existente')?.errors?.['min']">
            La cantidad ingresada no se considera válida para realizar una solicitud
          </mat-error>
          <mat-error  *ngIf="this.detalle.get('cant_existente')?.errors?.['required']">
            Ingrese una cantidad para continuar
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Cantidad solicitada</mat-label>
          <input matInput type="number" formControlName="cant_solicitada" required>
          <mat-error  *ngIf="this.detalle.get('cant_solicitada')?.errors?.['max']">
            La cantidad ingresada no se considera válida para realizar una solicitud
          </mat-error>
          <mat-error  *ngIf="this.detalle.get('cant_solicitada')?.errors?.['min']">
            La cantidad ingresada no se considera válida para realizar una solicitud
          </mat-error>
          <mat-error  *ngIf="this.detalle.get('cant_solicitada')?.errors?.['required']">
            Ingrese una cantidad válida para continuar
          </mat-error>
        </mat-form-field>
        <button mat-mini-fab color="warn" (click)="eliminarProducto(i)">
          <mat-icon>remove_circle_outline</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div FormArrayName="detalles2">
    <div *ngFor="let detalle2 of detalles2.controls; let i = index;" class="areaProductosSeleccionados">
      <div [formGroup]="detalle2">
        <mat-form-field appearance="outline" class="inputW">
          <mat-label>Producto</mat-label>
          <input matInput formControlName="nombreProducto" required>
          <mat-error  *ngIf="this.detalle2.get('cant_existente')?.errors?.['required']">
            Ingrese el nombre del producto
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Cantidad existente</mat-label>
          <input matInput type="number" formControlName="cant_existente" required>
          <mat-error  *ngIf="this.detalle2.get('cant_existente')?.errors?.['max']">
            La cantidad ingresada no se considera válida para realizar una solicitud
          </mat-error>
          <mat-error  *ngIf="this.detalle2.get('cant_existente')?.errors?.['min']">
            La cantidad ingresada no se considera válida para realizar una solicitud
          </mat-error>
          <mat-error  *ngIf="this.detalle2.get('cant_existente')?.errors?.['required']">
            Ingrese una cantidad para continuar
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Cantidad solicitada</mat-label>
          <input matInput type="number" formControlName="cant_solicitada" required>
          <mat-error  *ngIf="this.detalle2.get('cant_solicitada')?.errors?.['max']">
            La cantidad ingresada no se considera válida para realizar una solicitud
          </mat-error>
          <mat-error  *ngIf="this.detalle2.get('cant_solicitada')?.errors?.['min']">
            La cantidad ingresada no se considera válida para realizar una solicitud
          </mat-error>
          <mat-error  *ngIf="this.detalle2.get('cant_solicitada')?.errors?.['required']">
            Ingrese una cantidad válida para continuar
          </mat-error>
        </mat-form-field>
        <button  mat-mini-fab color="warn" (click)="removerDetalles2(i)">
          <mat-icon>remove_circle_outline</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <label for="productoDesconocido">Agregar un producto fuera del catalogo de productos </label>
  <button mat-mini-fab
          color="warn"
          class="btn1"
          name="productoDesconocido"
          (click)="agregarProductoFueraDelCatalogo()"
          matTooltip="En caso de no encontrar algún producto en la tabla (Catálogo de productos),
                      con este botón podrá especificar el prodcuto que desee solicitar">
    <mat-icon>add_circle</mat-icon>
  </button>
  <br>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Comentarios </mat-label>
    <textarea matInput formControlName="observacion_solicitud" name="observacion_solicitud" placeholder="Deje aquí sus Comentarios u observaciones sobre la solicitud..."></textarea>
  </mat-form-field>

  <br>
  <button mat-raised-button
          color="primary"
          (click)="submit()"
          matTooltip="Enviar la solicitud"> Aceptar </button>
  <button mat-raised-button
          color="warn"
          (click)="cancelar()"
          matTooltip="Cancelar y volver a solicitudes"> Cancelar </button>
</form>




<div class="area-tabla-p">
  <h1>Tabla de productos</h1>
  <mat-form-field appearance="standard">
    <mat-label>Filtrar por </mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ejemplo broche" #input>
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="id_producto">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let producto"> {{producto.id_producto}} </td>
    </ng-container>

    <ng-container matColumnDef="unidad">
      <th mat-header-cell *matHeaderCellDef> Tipo de unidad </th>
      <td mat-cell *matCellDef="let producto"> {{producto.unidad.descripcion}} </td>
    </ng-container>

    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef> Descripcion </th>
      <td mat-cell *matCellDef="let producto"> {{producto.descripcion}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let producto">
        <div class="btns">
          <button class="btn1"
                  mat-mini-fab
                  color="primary"
                  (click)="agregarProducto(producto)"
                  matTooltip="Agregar el producto a la solicitud">
            <mat-icon>add_circle_outline</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Su busqueda "{{input.value}}" no ha podido acompletarse</td>
    </tr>
  </table>
</div>
