form {
  position: relative;
  width  : 300px;
  height : 180px;
  margin : 0 auto;
  text-align: center;
}

table {
  width: 100%;
  margin: auto;
}

.tablaareatexto
{
  border: 2px solid #ccc;
  text-align: center;
}

.btns
{
  text-align: center;
}

.btn1
{
  margin-right: 8px;
}
