<mat-nav-list >
  <div class="logo py-4">

    <img src="./assets/img/logotipo.png" alt="Company Logo" />
  </div>
  <!-- <mat-divider></mat-divider> -->
  <h2 matSubheader class="mt-2 ">Administracion </h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/layout">
    <mat-icon>dashboard</mat-icon> Dashboard
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="solicitudes">
    <mat-icon>assignment</mat-icon> Solicitudes
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="solicitudes-adquisiciones">
    <mat-icon>assignment</mat-icon> Solicitudes Adquisiciones
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="compras">
    <mat-icon>shopping_cart</mat-icon> Compras
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="compras-adquisiciones">
    <mat-icon>shopping_cart</mat-icon> Compras Adquisiciones
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="inventario">
    <mat-icon>description</mat-icon> Inventario
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="productos">
    <mat-icon>store</mat-icon> Productos
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="proveedores">
    <mat-icon>local_shipping</mat-icon> Proveedores
  </a>

  <a mat-list-item routerLinkActive="list-item-active" (click)="showSubmenu = !showSubmenu">
    <mat-icon mat-list-icon>settings</mat-icon> Configuraciones
    <mat-icon class="menu-button" style="margin-left: 10px;" [ngClass]="{'rotated' : showSubmenu}"
      *ngIf="isExpanded || isShowing">expand_more
    </mat-icon>
  </a>

  <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
    <a mat-list-item routerLinkActive="list-item-active" routerLink="unidades">
      <mat-icon mat-list-icon>settings_applications</mat-icon> Unidades
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/layout">
      <mat-icon mat-list-icon>perm_data_setting</mat-icon>Máximos y minimos de Stock
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/layout">
      <mat-icon mat-list-icon>perm_data_setting</mat-icon>Máximos y minimos de existencia
    </a>
    </div>
</mat-nav-list>
