<mat-nav-list >
  <div class="logo py-4">

    <img src="./assets/img/logotipo.png" alt="Company Logo" />
  </div>
  <!-- <mat-divider></mat-divider> -->
  <h2 matSubheader class="mt-2 ">Administracion </h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/layout">
    <mat-icon>home</mat-icon> Inicio
  </a>

  <a *ngIf="tienePermiso('SOLICITUDES')"
      mat-list-item
      routerLinkActive="list-item-active"
      routerLink="solicitudes">
      <!--matTooltip="En este apartado podrá visualizar las solicitudes Pendientes,
                  Aceptadas, Rechazadas y Canceladas, además de realizar nuevas solicitudes"-->
    <mat-icon>assignment</mat-icon> Solicitudes
  </a>

  <a *ngIf="tienePermiso('SOLICITUDES ADQUISICIONES')"
      mat-list-item
      routerLinkActive="list-item-active"
      routerLink="solicitudes-adquisiciones">
      <!--matTooltip="En este apartado podrá visualizar las solicitudes Pendientes,
                  Aceptadas y Rechazadas de las diferentes sucursales">-->
    <mat-icon>assignment</mat-icon> Solicitudes
  </a>

  <a *ngIf="tienePermiso('COMPRAS')"
      mat-list-item
      routerLinkActive="list-item-active"
      routerLink="compras">
      <!--matTooltip="En este apartado podrá visualizar las compras pendientes o completadas">-->
    <mat-icon>shopping_cart</mat-icon> Compras
  </a>

  <a *ngIf="tienePermiso('COMPRAS ADQUISICIONES')"
      mat-list-item
      routerLinkActive="list-item-active"
      routerLink="compras-adquisiciones">
      <!--matTooltip="En este apartado podrá visualizar las compras pendientes o completadas de las diferentes sucursales">-->
    <mat-icon>shopping_cart</mat-icon> Compras
  </a>

  <a *ngIf="tienePermiso('INVENTARIO')"
      mat-list-item
      routerLinkActive="list-item-active"
      routerLink="inventario">
      <!--matTooltip="En este apartado podrá visualizar el inventario">-->
    <mat-icon>description</mat-icon> Inventario
  </a>

  <a *ngIf="tienePermiso('INVENTARIO ADQUISICIONES')"
      mat-list-item
      routerLinkActive="list-item-active"
      routerLink="inventarios-adquisiciones">
      <!--matTooltip="En este apartado podrá visualizar el inventario de todas las sucursales">-->
    <mat-icon>description</mat-icon> Inventarios
  </a>

  <a *ngIf="tienePermiso('PRODUCTOS')"
      mat-list-item
      routerLinkActive="list-item-active"
      routerLink="productos">
      <!--matTooltip="En este apartado podrá visualizar el catálogo de productos; Agregar, editar y dar de baja productos">-->
    <mat-icon>store</mat-icon> Productos
  </a>

  <a *ngIf="tienePermiso('PROVEEDORES')"
      mat-list-item
      routerLinkActive="list-item-active"
      routerLink="proveedores">
      <!--matTooltip="En este apartado podrá visualizar el catálogo de proveedores; Agregar, editar y dar de baja proveedores">-->
    <mat-icon>local_shipping</mat-icon> Proveedores
  </a>

<div *ngIf="tienePermiso('UNIDAD')">
  <a mat-list-item routerLinkActive="list-item-active" (click)="showSubmenu = !showSubmenu">
    <mat-icon mat-list-icon>settings</mat-icon> Configuraciones
    <mat-icon class="menu-button" style="margin-left: 10px;" [ngClass]="{'rotated' : showSubmenu}"
      *ngIf="isExpanded || isShowing">expand_more
    </mat-icon>
  </a>

  <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
    <a mat-list-item
       routerLinkActive="list-item-active"
       routerLink="unidades">
       <!--matTooltip="En este apartado se podrá agregar, editar y dar de baja unidades">-->
      <mat-icon mat-list-icon>settings_applications</mat-icon> Unidades
    </a>
    <a mat-list-item
       routerLinkActive="list-item-active"
       routerLink="maxMinStock">
       <!--matTooltip="En este apartado se podrá Agregar, editar y dar de baja la configuración de Máximos y mínimos de Stock">-->
      <mat-icon mat-list-icon>perm_data_setting</mat-icon>Máximos y mínimos de Stock
    </a>
    <a mat-list-item
       routerLinkActive="list-item-active"
       routerLink="maxMinExistencia">
       <!--matTooltip="En este apartado se podrá Agregar, editar y dar de baja la configuración de Máximos y mínimos de Existencia">-->
      <mat-icon mat-list-icon>perm_data_setting</mat-icon>Máximos y mínimos de existencia
    </a>
    </div>
  </div>
</mat-nav-list>
