/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mySnackbarSucess {
  color: white;
}

.mySnackbarSucess .mat-simple-snackbar-action  {
    color: #3D5AFE;
  }

.mySnackbarDelete {
    color: white;
}

.mySnackbarDelete .mat-simple-snackbar-action  {
    color: red;
}

.mat-tooltip {
  font-size: 14px !important;
  max-width: 500px !important;
}
