.area-txt
{
  margin-left: 20px;
}

.pendientes
{
  background: #ffe915;
}

table {
  width: 100%;
  margin: auto;
}

.btns
{
  text-align: center;
}

.btn1
{
  margin-right: 10px;
}

.espaciado{
  margin-right: 20px;
}

.btn2{
  margin-bottom: 20px;
}

button{
  text-transform: uppercase;
}

.formato1{
  margin-left: 20px;
}
